 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
        z-index: -1;
        display: none;

      }

      #login{
        width: 20%;
        z-index: 1;
        position: fixed;
        margin: auto;
        left: 40%;
        top: 40%;
        background-color: rgba(255, 255, 255, 0.726);
        border: solid palevioletred 5px;
        border-radius: 20px;
        text-align: center;
      }

      #login h1{
        text-align:center;
        font-family: 'Pacifico', cursive;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      body{
        background-color:rebeccapurple;
      }

      button{
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        font-size: 2em;
        color:#FFFFFF;
        background-color: palevioletred;
        text-align:center;
        transition: all 0.2s;
        margin-left: auto;
}
button:hover{
  background-color:#4095c6;
}

input{
  font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

#login p{
  margin-left: auto;
}


#down-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  box-shadow: black 30 30 30 30 ;
}

#down-panel select, #down-panel input {
  font-size: 15px;
}

#down-panel select {
  width: 100%;
}

#down-panel i {
  font-size: 12px;
}
#down-panel {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5px;
  top: 60%;
  margin-top: -195px;
  height: 330px;
  width: 200px;
  padding: 5px;
  z-index: 5;
  border: 1px solid #999;
  background: #fff;
}
h2 {
  font-size: 22px;
  margin: 0 0 5px 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 271px;
  width: 200px;
  overflow-y: scroll;
}
li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
li:nth-child(odd) {
  background-color: #fcfcfc;
}
#more {
  width: 100%;
  margin: 5px 0 0 0;
}